@import "functions";
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

body{
    @include original();
}

.container{
    @include displayFlex();
    min-height: 100vh;
}

button:hover{
    background: #ff0000;
    color: #fff;
    box-shadow: 0 0 70px var(--clr),
                0 0 100px var(--clr),
                0 0 150px var(--clr);
}

.btn{
    display: block;
    outline: none;
    font-weight: 700;
    border: 0;
    padding: 16px 30px;
    line-height: 1;
    border-radius: 20px;
    font-size: 50px;
    font-family: 'Road Rage', cursive;
    transition: 2s;
    cursor: pointer;
}